.all-comb{
    margin-right: 40%;
    direction: rtl;
}

.back-btn{
    margin-top: 5px;
    background-color: bisque;
    width: 120px;
    border-radius: 20px;
    padding: 10px 20px;
}

.combination-row{
    font-size: 18;
    margin-bottom: 20px;
}